{% extends 'base.html' %}

{% block content %}
    <div class="container bg-white">
        <div class="p-5">
                {% for f, g, h, i, j in send_list %}
                    
                        {% if h == "group does not exist xxxxxxwkebjkerjbkjengksdbkejbg" %}
                            <a href="/splitwise/detailed_activity/{{ i.group_transaction_id }}/">
                                <p>{{ i.added_by.username }} Added {{ g }}</p>
                            </a>
                        {% else %}
                            <a href="/splitwise/detailed_activity/{{ i.group.id }}/{{ i.group_transaction_id }}/">
                                <p>{{ i.added_by.username }} Added {{ g }} to {{ h }}</p>
                            </a>
                        {% endif %}
                        {% if j == 1 %}
                            {% if g != 'Settling!' %}
                                <p style="color:green;">You get back {{ f }}</p>
                            {% else %}
                                <p style="color:green;">You paid {{ f }}</p>
                            {% endif %}
                        {% else %}
                            {% if g != 'Settling!' %}
                                <p style="color:red;">You owe {{ f }}</p>
                            {% else %}
                                <p style="color:red;">You were paid {{ f }}</p>
                            {% endif %}
                        {% endif %}
                    
                {% endfor %}</div>
                <a href="{% url 'success' %}" class="btn btn-primary">Go Back</a>
           
    </div>
{% endblock %}