{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-light bg-white p-5 col overflow-auto rounded-3">
    <div class = "d-flex justify-content-between align-items-center" >
        <h3>{{group}}</h3>
        <div class ="d-flex justify-content-between w-50 align-items-center">
            <form action="/splitwise/balances/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-success " value="Balances" name= "balances">
            </form>
            <button class = "btn btn-outline-success"><a href = "/splitwise/groups/transaction/" style="text-decoration: none; color: black;" >Add Group Expense</a></button>
            <button class = "btn btn-outline-primary"><a href='/splitwise/success/' style="text-decoration: none; color: black;">Go back</a></button>
        </div>
    </div>
    <hr>
	<form action="/splitwise/group/{{ g }}/" method="POST">
        {% csrf_token %}
        {{ change_form }}
        <input type="submit" class="btn btn-secondary" value="Settle Up" name= "settle_up">
    </form>
    
	<br>
	<h2>Transactions</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Tag</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for a, b, c, d, e, z in trans_list %}
                <tr>
                    <td>{{ a.0 }}</td>
                    <td>{{ d.0 }}</td>
                    <td>{{ c.0 }}</td>
                    <td>
                        {% if c.0 != 'Settle' %}
                        <p>{{ b.0 }} paid {{ z }}</p>
                        {% for f in e %}
                        <p>{{ f.0 }} owes {{ f.1 }}</p>
                        {% endfor %}
                        {% else %}
                        {% for f in e %}
                        <p>{{ b.0 }} paid {{ z }} to {{ f.0 }}</p>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


