{% extends 'base.html' %}  

{% block content%}
<div class="bg-light  p-5 col overflow-auto rounded-3">
  <h2>Groups</h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
    {% for g,b in groups_list %}
    <tr>
      <td><a href="/splitwise/group/{{ g.group.id }}/">{{ g.group }}</a></td>
      {% if b == 1 %}
      <td><font color="green">{{ g.money_owed }}</font></td>
      {% else %}
      <td><font color="red">{{ g.money_owed }}</font></td>
      {% endif %}
      <td>
        <form action="/splitwise/success/" method="POST">
          {% csrf_token %}
          <input
            type="submit"
            value="Delete"
            class="btn btn-danger"
            name="{{ g.group.group_name }}"
          />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}